# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/
.env

# Django Stuff
*.log
*.pot
*.pyc
db.sqlite3
/static/
media/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Operating System Files
.DS_Store
Thumbs.db

# Distribution / Packaging
.Python
*.egg
*.egg-info
dist/
build/
eggs/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
